ul li {
  position: relative; /* 使子x我勒漳高x蔚淖孙@示 */
}
/* O定母x蔚倪BY邮 */
ul li a{
  background: url(detail.png);
}
/* 母x蜗]有子xr，也就是f只有一BYr，[藏detail.png */
ul li a:only-child{
  background: none;
}
ul li:hover > ul {
  display: block; /* 滑鼠滑入母x吾幔@示子x */
}
/* 二x物@示於一x蔚恼下方 */
ul ul {
  position: absolute;
  top: 100%;
  list-style: none;
  display: none;
}
/* 三xt@示於二x蔚挠曳 */
ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}